html{
    background: #C9D6FF;  
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

html{
    font-family: Rubik;
}

.page-title{
    font-style: italic;
    font-weight: 700;
}

.search-input{
    font-family: Rubik;
    font-style: italic;
    font-weight: 500;
}
