.page-title{
  text-align: center;
}

#pagination{
position: sticky;
bottom:  0;
}

/* Styles for file container */
#file-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
  }


  
  .file {
    width: calc(250px);   /* width: calc(50% - 10px); */
    height: 386px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .file img {
    width: 100%;
    height: 295px;
    margin-bottom: 10px;
    filter: brightness(150%) contrast(150%) saturation(150%);
  }
  
  .file h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .file p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  /* Styles for search form */
  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }

  #search-btn{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pagination-btn{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  #search-submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles for buttons */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #0069d9;
  }
  
  .button:active {
    background-color: #005cbf;
  }
  
  .disabled {
    opacity: 0.5;
    cursor: default;
  }
  


  #spinner{
    /* margin: 26vh auto 0 auto;
    z-index: 1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }


  .loader {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    overflow: hidden;

  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #de3500;
    animation: diamondLoader 2s linear infinite;
  }
  @keyframes diamondLoader {
    0%  ,10% {
      transform: translate(-64px , -64px) rotate(-45deg)
    }
    90% , 100% {
      transform: translate(0px , 0px) rotate(-45deg)
    }
  }



  /* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styles for container */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 20px;
}

/* Styles for sidebar */
.sidebar {
	flex: 0 0 200px;
	margin-right: 20px;
}

.sidebar h2 {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}

.sidebar ul {
	list-style: none;
}

.sidebar li {
	margin-bottom: 10px;
}

.sidebar a {
	display: inline-block;
  width: 135px;
	padding: 10px;
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.sidebar a:hover {
	background-color: #eee;
}

.sidebar a.active {
	background-color: #007bff;
	color: #fff;
}

/* Styles for main content */
.main-content {
	flex: 1;
}

.main-content h1 {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}

#books-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}

.book {
	width: calc(33.33% - 10px);
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.book img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.book h3 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.book p {
	margin: 0;
	font-size: 14px;
	color: #666;
}

/* Styles for buttons */
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.button:hover {
	background-color: #0069d9;
}

.button:active {
	background-color: #005cbf;
}

#book-Area{
  display: flex;
}